<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Memory Loss.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8F81D061FBA0664004D532E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8F81D1F1FBA0665004D532E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8F81D2A1FBA0665004D532E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
